html{ height: 100%; margin: 0; }
body{
    height: 100%;
}
#allPage{

    font-family: Arial;
    background-attachment: fixed;
    font-size: 20px;
    color: #D2D2D1;
    font-family: 'Lato';
    height: 612px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
/*----------div user------------*/
#userInfos{
    position: relative;
    top: 56px;
    left: 56px;
    border-style: solid;
    border-color: #666166;
    border-width: 3px;
    border-radius: 5px;
    background-color: #3c3c3c;
    height: 500px;
    width: 330px;
    float: left;
}

#userInfosButton{
    font-size: 18px;
    margin: 8px auto;
    display: flex;
    position: relative;

}
#userLogo{
    position: relative;
    width: 80px;
    height: 80px;
    left: 40px;
    margin: 8px;
}
p{
    margin: 8px;

}
/*----------div group-------------*/
.groups{
    border-style: solid;
    border-color: #666166;
    border-width: 3px;
    border-radius: 5px;
    background-color: #3c3c3c;
    position: relative;
    top: 56px;
    left:60px;
    color: #D2D2D1;
    height: 500px;
    width: 750px;
    float: left;

}
a:visited{
    color: #D2D2D1;
}
#groupLogo{

    position: relative;
    width: 80px;
    height: 80px;
    margin: 8px;
}
.textNearImage{
    margin: 30px;
    position: relative;
    float: right;
    right: 250px;

}
.deleteGroupButton{
    position: relative;
    float: left;
    margin: 8px;
    left: 450px;
    background-color:#353535;
    border-radius:18px;
    border: 1px solid #ad60b6;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    padding:4px 30px;
    text-shadow:0px 1px 0px #000000;
    text-align: center;
    font-family: 'Lato';
}
#deleteGroupButton:hover {
	background-color:#d570e0;
}


#addGroupButton{
    margin: 8px auto;
    display: flex;
    position: relative;
}
.groupList{
    color:red;
    margin: 8px;

}
.groupList:hover{
    color: #AE60B6;
}
input{

     background-color:#353535;
     border-radius:8px;
     border: 1px solid #ad60b6;
     cursor:pointer;
     color:#ffffff;
     font-size:17px;
     text-shadow:0px 1px 0px #000000;
     text-align: center;
     font-family: 'Lato';

     matgin-top:10px;
     matgin-bottom:10px;
     margin-right:25px;
     position: relative;
     top:-5px;

}

.input:hover {
	background-color:#d570e0;
}


#editButton{
     background-color:#353535;
     border-radius:18px;
     border: 1px solid #ad60b6;
     cursor:pointer;
     color:#ffffff;
     font-size:18px;
     padding:4px 30px;
     text-shadow:0px 1px 0px #000000;
     text-align: center;
     font-family: 'Lato';
     position: relative;
     top: -20px;
     left: 120px;
     margin-right:10px;

}

#editButton:hover {
	background-color:#d570e0;
}

table{
background-color: #3c3c3c;
position: relative;
}

#addGroupButton{
     background-color:#353535;
     border-radius:18px;
     border: 1px solid #ad60b6;
     cursor:pointer;
     color:#ffffff;
     font-size:18px;
     padding:7px 30px;
     text-shadow:0px 1px 0px #000000;
     text-align: center;
     font-family: 'Lato';
     position: relative;
     top: 20px;
     right: 250px;
     margin-right:10px;
     width:90px;
     height:20px;

}

#addGroupButton:hover {
	background-color:#d570e0;
}
input:focus,
textarea:focus, select:focus{
outline: none;
}
